@import url(components/button.css);
@import url(components/navbar.css);
@import url(components/footer.css);
@import url(components/card.css);

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
cite,
code,
img,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

button {
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

* {
    box-sizing: border-box;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 18px;
}

body {
    position: relative;
    background-color: #edf2ff;
    /* background-color: red; */
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    line-height: 1.2rem;
    overflow-x: hidden;
    justify-content: center;

    display: grid;
    grid-template-columns: 260px 940px;
}

header {
  position: relative;
  text-align: center;
}

main {
  z-index: 0;
  background-color: #edf2ff;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

p {
    margin-bottom: 40px;
}

.logo {
    width: 150px;
    height: 150px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 32px;
}

.logo {
    font-size: 1.5rem;
    position: absolute;
    right: -20px;
    height: 100px;
    width: 100px;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 140px;
    font-weight: 400;
}

.section-title {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 70px;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

/* Leave at bottom */

/* @media (min-width: 360px) {
}

@media (min-width: 690px) {
} */
