.q-a-section {
  margin-bottom: 100px;
}

.question-wrapper {
    background-color: #274b9f33;
    margin-bottom: 10px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
}

.question-wrapper:hover,
.question-wrapper:active {
  cursor: pointer;
}

.question {
    padding: 2px 0;
    margin-bottom: 0;
}

.answer {
    margin-bottom: 60px;
    font-size: 0.9rem;
}

.arr-down {
    height: 1.5rem;
    width: 1.5rem;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.active {
  background-color: #274b9f5b;
}
