.q-a {
}

.question-wrapper {
    background-color: #274b9f15;
    margin-bottom: 10px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
}

.question {
    padding: 2px 0;
    margin-bottom: 0;
}

.answer {
    margin-bottom: 60px;
}

.arr-down {
    height: 1.5rem;
    width: 1.5rem;
    /* stroke: blue; */
}
