.navbar {
    text-align: center;
    background-color: #192f64;
    height: 100vh;
    margin-left: 2px;
    transition: background-color 0.2s ease-out;
    overflow-y: scroll;

    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.navbar::-webkit-scrollbar {
    display: none;
}

.navbar:hover {
    transition: all 0.3s ease-out;
    z-index: 2;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
}

.btn-nav:link,
.btn-nav:visited {
    background-color: #edf2ffdc;
    text-decoration: none;
    border-radius: 10px;
    width: 90%;
    font-size: 1.25rem;
    padding: 1rem 0;
    padding-left: 4px;
    font-weight: 700;
    transition: background-color 0.1s ease-in;
    text-align: start;

    display: inline-block;
    position: relative;
    z-index: 3;
}

.navbar p {
    margin-bottom: 0;
}

.btn-nav:hover,
.btn-nav:active {
    color: #fed967;
    background-color: #315ec6;
    transition: background-color 0.2s ease-out;
}

nav li:first-child .btn-nav {
    margin-top: 2rem;
}

nav li:last-child .btn-nav {
    margin-bottom: 3rem;
}

.btn-expand:link,
.btn-expand:visited {
    background-color: #192f64; /* Is this needed? */
    color: #f8f9fa; /* Should this be under navnar? */
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    width: 40px;
    border-radius: 50%;

    position: absolute;
    left: 260px;
    top: 50%;
    transform: translate(-50%, 0);
}

.btn-expand:hover,
.btn-expand:active {
    color: #fed967;
    scale: 1.025;
    transform: translate(-45%, 0);
}
