.navbar {
    background-color: #192f64;
    height: 100vh;
    overflow-y: scroll;
    margin-left: 2px;
    transition: background-color 0.2s ease-out;
    overflow-x: visible;
}

.navbar:hover {
    transition: all 0.3s ease-out;
    z-index: 2;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn-nav:link,
.btn-nav:visited {
    background-color: #edf2ff;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    font-size: 1.25rem;
    padding: 18px 0;
    padding-left: 4px;
    font-weight: 700;
    transition: background-color 0.1s ease-in;

    position: relative;
    z-index: 2;
}

.btn-nav:hover,
.btn-nav:active {
    color: #fed967;
    background-color: #315ec6;
    transition: background-color 0.2s ease-out;
}

.btn-nav:first-child {
    margin-top: 16px;
}

.btn-expand:link,
.btn-expand:visited {
    background-color: #192f64;
    color: #f8f9fa;
    text-decoration: none;
    /* display: inline-block; */
    display: flex;
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;

    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, 0);
    z-index: 1;
}

.btn-expand:hover,
.btn-expand:active {
    color: #fed967;
    scale: 1.05;
    transform: translate(60%, 0);
}
